[user]
	name = Suwon Chae
	email = doortts@gmail.com
[alias]
	co = checkout
	edit = "!f() { git diff --name-status --diff-filter=U | cut -f2 ; }; vi `f`"
	add-unmerged = "!f() { git diff --name-status --diff-filter=U | cut -f2 ; }; git add `f`"
[pager]
    log = diff-highlight | less -F -X
    show = diff-highlight | less -F -X
    diff = diff-highlight | less -F -X
[push]
	default = simple
[core]
	editor = /usr/local/Cellar/vim/7.4.488/bin/vim
